{
  "env": {
    "flow": {
      "plugins": [
        "transform-function-bind",
        "syntax-flow"
      ]
    },
    "build": {
      "presets": [
        "es2015",
        "flow",
        "stage-0"
      ]
    }
  }
}
